# Attachs and cache files #
*.tmp
/attach/cache/
/attach/
/application/cache/_bancha/*.css
/application/cache/_bancha/*.js



# Compiled source #
###################
*.class
*.exe
*.so

# Idea Project Files #
######################
*.iml
*.iws
.idea
*.ipr

# Eclipse Project Files #
#########################
.classpath
.project
.settings
.metadata

# Target folder #
#################
target
project/target
project/project
modules/core/logs
Logs

